<!DOCTYPE html>

<html lang= "en">
<head>
      <title>Online Movie Store</title>
      <link rel="icon" href="/img/video-solid.svg">
      <link rel="stylesheet" href="/css/styles.css">
</head>

<body> 
  <div class = "main-content">
    {{>header}}
    <p>Welcome to our movie store! Please feel free to browse</p>

    <form>
      <input class = "movieSearch" placeholder="Please enter a movie you would like to search for"> 
      <button >Search</button>
    </form>
    {{!-- <p id = "message-1"></p>
    <p id = "message-2"></p> --}}
  </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>